body{
    background-color: grey;
}

.screen {
    background-image: url(background.gif);
    position: relative;
    width: 482px;
    height: 640px;
    margin: auto;
}

#player{
    position: absolute;
    width: 56px;
    height: 50px;
    left: 125px;
}